@charset "UTF-8";
/*-------------------------------------BODY GLOBAL-------------------------------------*/
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    text-align: center;
}
/*-------------------------------------BODY HEADER, MAIN, FOOTER-------------------------------------*/

header
{
    color: white;
    text-align: center;
    padding: 10px;
}

main
{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    max-width: 900px;
    min-width: 280px;
    border-radius: 7px;
    padding: 10px;
}

footer 
{
    padding: 15px;
    text-align: center;
    color: white;
    font-style: italic;
}